body {
  text-align: center;
  background: url(https://www.xmple.com/wallpaper/linear-blue-gradient-purple-1920x1080-c2-483d8b-00ced1-a-15-f-14.svg) no-repeat center fixed;
  color: #00008B;
}

h1 {
  padding: 30px;
  font-size: 50px;
  color: white;
}

#temp {
  font-size: 45px;  
  color: #00008B;
}

#unit {
  cursor: pointer;
  color: #ff9933;
  text-decoration: none;

}

#unit:hover {
  text-decoration: none;
  color: white;
}

#box {
  border: 2px solid white;
  border-radius: 10px;
  margin: auto;
  max-width: 400px;
  padding: 10px;
  background: rgba(220,220,220,0.5)
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  color: white;
}